#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Fri May 13 14:58:51 2022

@author: natsukoyamaguchi
"""

{% extends "base.html" %}

{% block content %} 
    
    <br></br>
    <p>Imagine you’re going on a road trip. As you leave from home, your car picks up all the normal radio stations. They’re coming through clearly, and you’re jamming out.</p>
    <p>As you slowly drive further and further away, your radio will start to misbehave. Depending on where you are and what stations you listen to, the songs you want to hear will start to get mixed in with static, or maybe even sounds from another radio station.</p>
    <p> In other words, the signal you are looking for is getting mixed in with a lot of noise. </p>
    <p> Radio astronomers (and astronomers in general) run into this same problem. Oftentimes, the signals we want to look at, whether those are stars, planets, or aliens, get buried inside tons and tons of noise, from both human-made and natural sources. </p>
    <p><b> What is SNR and why is it important? </b></p>
    <p> The <b>signal-to-noise ratio (SNR)</b> is the ratio telling us how much of what we detect is coming from our intended source and how much is other noise. More technically, the SNR is the ratio of the powers of the signal/source and the noise, both as detected by the receiver. </p>


    
{% endblock %} 

