#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Fri May 13 13:55:21 2022

@author: natsukoyamaguchi
"""

{% extends "base.html" %}

{% block content %} 
    <br></br>
    <p>Uses equation (5) of <a href="https://iopscience.iop.org/article/10.3847/1538-3881/aabb03" target="-blank">Margot et al. 2018</a> to calculate the distance at which signals are detectable as a function of key parameters.</p>
    <p>Please fill out all of the fields below.</p>
    <p>Click <a href="/variables">here</a> for details about each parameter.</p>
    <form method="post" action="{{ url_for('operation_result') }}" id="calculator_form">
        <label for="Input1">S/N:</label>
        <input type="text" value="10" name="Input1" id="Input1">
        <br/>
        <label for="Input2">EIRP:</label>
        <input type="text" value="1" name="Input2" id="Input2">
        <select id="EIRP_units" name="EIRP_units">
        <option value="Arecibo">Arecibo</option>
        <option value="mks">W</option>
        <option value="cgs">ergs/s</sup></option>
        </select>
        <br/>
        <label for="Input3">SEFD:</label>
        <input type="text" value="10" name="Input3" id="Input3">
        <select id="SEFD_units" name="SEFD_units">
        <option value="Jy">Jy</option>
        <option value="mks">W/m2/Hz</option>
        <option value="cgs">ergs/s/cm2/Hz</option>
        </select>
        <br/>
        <label for="Input4">&eta;<sub>Q</sub>:</label>
        <input type="range" class="form-range" min="0" max="1" step="0.0001" value = "0.8825" id="Input4" name="Input4", oninput="this.nextElementSibling.value = this.value">
        <output>0.8825</output>
        <br/>
        <label for="Input5">n<sub>pol</sub>:</label>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineCheckbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineCheckbox" id="inlineCheckbox2" value="option2" checked>
        <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <br/>
        <label for="Input6">&tau;:</label>
        <input type="text" value="10" name="Input6" id="Input6">
        <span>s</span>
        <br/>
        <label for="Input7">&Delta;f:</label>
        <input type="text" value="2.98" name="Input7" id="Input7"> 
        <span>Hz</span>
        <br/>
        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-primary" href="/" role="button">Reset</a>
    </form>
    
    {% if calculation_success == True %}
        <br/>
        <h4>Your input:</h4>
        <h6>S/N: {{sn}}</h6>
        <h6>EIRP: {{eirp}}</h6>
        <h6>SEFD: {{sefd}}</h6>
        <h6>&eta;<sub>Q</sub>: {{eta}}</h6>
        <h6>n<sub>pol</sub>: {{npol}}</h6>
        <h6>&tau;: {{tau}}</h6>
        <h6>&Delta;f: {{freq}}</h6>
        <h4>This signal is detectable at a distance of <b>{{result}}</b> light years.</h4>
    {% endif %}
    
{% endblock %} 



