<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
  <br>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
      <a class="navbar-brand" href="#">
          <img src="https://lh3.googleusercontent.com/vlFpaUGPWWzfhuyspeVo-4D8oIoGSRfTyheuduOAQxinJCFEGUSmizVFND8oul646w_N2jndrSgTDDBAx8WXvW5dke9YJ431gW_U6YEATlLxV2H4-swVwSdTi49Gae93roHEZSYb=w2400" alt="..." height="36">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="intro" href={{abspath}}>Background</a>
          <a class="nav-item nav-link" id="calculator" href="/">Distance-from-SNR calculator</a>
        </div>
      </div>
    </nav>
    
    <hr>
    
    <h1>&nbsp;&nbsp;SETI Sensitivity Calculator</h1>
    
    <div class="container">{% block content %} 
    <br></br>
    <p>Uses equation (5) of <a href="https://iopscience.iop.org/article/10.3847/1538-3881/aabb03" target="-blank">Margot et al. 2018</a> to calculate the distance at which signals are detectable as a function of key parameters.</p>
    <p>Hover over each parameter to see what they stand for.</p>
    <p>Please fill out all of the fields below.</p>
    <form method="post" action="{{ url_for('operation_result') }}" id="calculator_form">
        <a href="#" rel="tooltip" title="Signal-to-noise ratio">S/N:</a><b>&nbsp;&nbsp;&nbsp;</b>
        <input type="text" value="10" name="Input1" id="Input1">
        <br/>
        <br/>
        <a href="#" rel="tooltip" title="Effective Isotropic Radiated Power">EIRP:</a><b>&nbsp;</b>
        <input type="text" value="1" name="Input2" id="Input2">
        <select id="EIRP_units" name="EIRP_units">
        <option value="Arecibo">Arecibo planetary radar equivalent (2.2e13 W)</option>
        <option value="mks">W</option>
        <option value="cgs">ergs/s</sup></option>
        </select>
        <br/>
        <br/>
        <a href="#" rel="tooltip" title="System Equivalent Flux Density">SEFD:</a>
        <input type="text" value="10" name="Input3" id="Input3">
        <select id="SEFD_units" name="SEFD_units">
        <option value="Jy">Jy</option>
        <option value="mks">W/m2/Hz</option>
        <option value="cgs">ergs/s/cm2/Hz</option>
        </select>
        <br/>
        <br/>
        <a href="#" rel="tooltip" title="Quantization efficiency">&eta;<sub>Q</sub>:</a><b>&nbsp;&nbsp;&nbsp;&nbsp;</b>
<!-- this block for pull-down menu with four values
        <input type="text" list="defaults" id="Input4" name="Input4", oninput="this.nextElementSibling.value = this.value">
        <datalist id="defaults">
            <option value="0.6366">1 bit</option>
            <option value="0.8825">2 bit</option>
            <option value="0.9985">4 bit</option>
            <option value="0.9999">8 bit</option>
        </datalist>
-->
<!-- this block for slider with default value
	<input type="range" class="form-range" min="0" max="1" step="0.0001" value = "0.8825" id="Input4" name="Input4", oninput="this.nextElementSibling.value = this.value">
        <output>0.8825</output>
-->
	<input type="text" value="0.8825" name="Input4" id="Input4"> Common values: 0.6366 (1 bit, 2 levels), 0.8825 (2 bit, 4 levels) 0.9885 (4 bit, 16 levels), 0.9999 (8 bit, 256 levels).
        <br/>
        <br/>
        <a href="#" rel="tooltip" title="Number of Polarizations">n<sub>pol</sub>:</a><b>&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineCheckbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineCheckbox" id="inlineCheckbox2" value="option2" checked>
        <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <br/>
        <br/>
        <a href="#" rel="tooltip" title="Integration time">&tau;:</a><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <input type="text" value="150" name="Input6" id="Input6">
        <span>s</span>
        <br/>
        <br/>
        <a href="#" rel="tooltip" title="Frequency resolution">&Delta;f:</a><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <input type="text" value="2.98" name="Input7" id="Input7"> 
        <span>Hz</span>
        <br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-primary" href="/" role="button">Reset</a>
    </form>
    
    {% if calculation_success == True %}
        <br/>
        <h4>Your input:</h4>
        <h6>S/N: {{sn}}</h6>
        <h6>EIRP: {{eirp}}</h6>
        <h6>SEFD: {{sefd}}</h6>
        <h6>&eta;<sub>Q</sub>: {{eta}}</h6>
        <h6>n<sub>pol</sub>: {{npol}}</h6>
        <h6>&tau;: {{tau}}</h6>
        <h6>&Delta;f: {{freq}}</h6>
        <h4>This signal is detectable at a distance of <b>{{result}}</b> light years.</h4>
        <br/>
    {% endif %}
    
{% endblock %} </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} 
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
    <script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    </script>
    
  </body>

</html>
