#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Fri May 13 14:49:33 2022

@author: natsukoyamaguchi
"""

{% extends "base.html" %}

{% block content %} 
    
    <br></br>
    <p> A list of what each parameter stands for, as stated in <a href="https://iopscience.iop.org/article/10.3847/1538-3881/aabb03" target="-blank">Margot et al. 2018</a>:
    <ul>
        <li>S/N: Signal-to-noise ratio</li>
        <li>EIRP: Effective Isotropic Radiated Power</li>
        <li>SEFD: System Equivalent Flux Density</li>
        <li>&eta;<sub>Q</sub>: Quantization efficiency</li>
        <li>n<sub>pol</sub>: Number of Polarizations </li>
        <li>&tau;: Integration time</li>
        <li>&Delta;f: Frequency resolution</li>
    </ul>
    
    
    
{% endblock %} 


